<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
  <input type="text" name= "landmark[name]" placeholder="Name:">
  <input type="submit" value="Submit">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
