<h2>Create New Figure</h2>

<form action="/figures" method="POST">
  <input type="text" name= "figure[name]" placeholder="Name:">
  <input type="submit" value="Submit">
</form>


<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
